body{
    font-family: Arial;
    background:#ffffff;
    margin:0;
}
header{
    background:#ff7a00;
    color:white;
    padding:15px;
    text-align:center;
    font-size:22px;
}
.container{
    padding:15px;
}
input{
    width:100%;
    padding:8px;
    margin:5px 0;
}
button{
    background:#ff7a00;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    margin-top:10px;
    cursor:pointer;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}
th,td{
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}
th{
    background:#ff7a00;
    color:white;
}