body {
    background-color: black;
    color: white;
    font-family: "Cairo", sans-serif;
    direction: rtl;
}

header {
    background: linear-gradient(45deg, red, orange, yellow);
    padding: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 4px solid orange;
}

.container {
    padding: 20px;
}

h2 {
    color: orange;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: orange;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: red;
    color: white;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background-color: orange;
    color: black;
}

td {
    border: 1px solid red;
    padding: 8px;
    text-align: center;
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}